@attribute [Authorize]
@page "/OnlineConsultation"
<PageTitle>Online Consultation</PageTitle>

<div class="container">
    <div class="d-flex flex-column" id="dflexonlineappointment">
        <h1 class="mt-5" id="onlineappointmentstatusheader">Online Appointment</h1>
        <a href="/OnlineConsultation/create" class="btn btn-secondary">
            <span class="oi oi-plus"></span>
            Create New Booking
        </a>
    </div>

    <hr class="text-hr" />
    <div class="table-responsive mt-5">
        <table class="table ">
            <thead class="table-light">
                <tr id="delivertablecolumnname">
                    <th scope="col" class="dcol">#OnlineConsultationID</th>
                    <th scope="col" class="dcol">Date</th>
                    <th scope="col" class="dcol">Start Time</th>
                    <th scope="col" class="dcol">End Time</th>
                    <th scope="col" class="dcol">Duration</th>
                    <th scope="col" class="dcol">Status</th>
                </tr>
            </thead>
            <tbody id="specificdeliverrow">
                <tr>
                    <td id="orderid" class="dr">123</td>
                    <td id="deliverid" class="dr">123</td>
                    <td id="estdeliverydate" class="dr">123</td>
                    <td id="estdeliverytime" class="dr">123</td>
                    <td id="deliverymethod" class="dr">123</td>
                    <td id="orderstatus" class="dr">
                        <select class="form-select " aria-label="Default select example">
                            <option value="1">Pending</option>
                            <option value="2">Completed</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>










@code {

}
