#dflexPrescription {
    justify-content: center;
}

#Prescriptionheader {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Rubik", serif;
}

#Prescriptiontablecolumnname {
    border: 2px solid;
}

.text-hr {
    width: 50%;
    margin: auto;
}

.dcol {
    text-align: center;
}

.dr {
    text-align: center;
}
