@page "/AboutUs"
<PageTitle>About Us</PageTitle>

<div class="container-fluid" id="containerforaboutus">
    <div class="row my-5">
        <h2 class="text-center" id="aboutusheader">About Us</h2>
        <hr class="text-hr" />
    </div>



    <div class="row my-5">
            <h2 class="featurette-heading">Who We Are</h2>
            <p class="lead">
            Farmacy, your trusted partner in family health.
            <br />Our commitment is to provide
            a warm and welcoming environment where you can find all your health and wellness essentials conveniently in one place.
            </p>
    </div>


    <div class="row my-5">
            <h2 class="featurette-heading">Our Mission</h2>
            <p class="lead">
                We empower families with convenient access to affordable children's healthcare, putting playful smiles on little faces and happy steps on their journeys.
            </p>
    </div>

 </div>



@code {

}
