* {
    margin: 0;
    padding: 0;
    box- sizing: border - box;
}

html {
    font - size: 10px;
}

body {
    background: url('https://img.freepik.com/free-vector/national-doctor-s-day-hand-drawn-background_23-2149438164.jpg?w=996&t=st=1703937704~exp=1703938304~hmac=b29cdd8a1d8dadcacd284a9e764ad3fad09a20ed5e9a00787cca3c7d57a5a997') background - position: 0 1000px;
    font - family: 'Roboto', sans - serif;
}

.container {
    max - width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin - top: 4rem;
    text - align: center;
}

.h1 {
    color: #000000;
    font - size: 5rem;
    font - weight: 700;
    letter - spacing: 8px;
    margin - bottom: 2rem;
}

.h2 {
    color: #777;
    font - size: 4rem;
    font - weight: 400;
}

.p {
    color: #000000;
    font - size: 1.5rem;
    line - height: 5rem;
    margin - bottom 5rem;
}


.image {
    margin - top: 10rem;
    margin - bottom: 5rem;
}

.btn {
    display: inline - block;
    padding: 1.5rem 5rem;
    background: #f6f6f6;
    font - size: 2rem;
    text - decoration: none;
    color: aquamarine;
    border - radius: 10px;
    transition: background 0.5s;
}

    .btn:hover {
        background: #dadada;
    }
