@page "/AboutUs"
<PageTitle>About Us</PageTitle>
<html>
<body>
    <div class="container">
        <h1>About Us</h1>
        <main>
            <div class="image">
                <img src="1.jpg" alt="Company Logo" style="width: 350px; height: 350px; object-fit: none;">
            </div>
            <div>
                <h2>Who We Are</h2>
                <p>
                    Farmacy, your trusted partner in family health.We understand the unique healthcare needs of families,
                    especially those with children between the ages of 0 to 12. Our commitment is to provide
                    a warm and welcoming environment where you can find all your health and wellness essentials conveniently in one place.
                </p>
            </div>
            <br>
            <div>
                <h2>Our Mission</h2>
                <p>
                    At the heart of Farmacy is a mission to empower families to prioritize and maintain their health and well-being.
                    We believe that a healthy family is a happy family, and we are dedicated to supporting you through every stage of life,
                    from the early years of infancy to the active days of childhood.
                </p>
            </div>
            <br>
            <div>
                <h2>Meet the Team</h2>
                <ul>
                    <h3>Wilson - CEO</h3>
                    <h3>Aqeel - Manager</h3>
                </ul>
            </div>
            <div>
                <a href="mailto:syedaqeel5555@gmail.com" class="btn">Get In Touch</a>
            </div>
            <br>
        </main>
    </div>
</body>
</html>














@code {

}
