@page "/"

<PageTitle>Home Page</PageTitle>


<div class="container-fluid" id="containerforarticle">
    <div class="row my-5">
        <h2 class="text-center" id="awards">Articles</h2>
        <p class="text-center" id="awardsdescription">Articles from professional on how to take care of your child.</p>
        <hr class="text-hr" />
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card" id="article1card">
                    <img src="https://ch-api.healthhub.sg/api/public/content/33a02752504f4b1d998199f7fd8d0cf7?v=5423444a&t=livehealthyheaderimage " class="card-img-top" id="articleimage1">
                    <div class="card-body d-flex flex-column ">
                        <h5 class="card-title">Growing Your Baby</h5>
                        <p class="card-text">Article by HealthHub</p>
                        <a href="https://www.healthhub.sg/live-healthy/guide_your_growing_baby" class="btn btn-info">Go To Article</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="article2card">
                    <img src="https://ch-api.healthhub.sg/api/public/content/3dc283d8d5c94723a413b9a94f04643a?v=a4734849&t=livehealthyheaderimage" class="card-img-top" id="articleimage2">
                    <div class="card-body d-flex flex-column ">
                        <h5 class="card-title">Nutrition for your toddler</h5>
                        <p class="card-text">Article by HealthHub</p>
                        <a href="https://www.healthhub.sg/live-healthy/baby-nutrition-for-your-toddler" class="btn btn-info">Go To Article</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="article3card">
                    <img src="https://ch-api.healthhub.sg/api/public/content/ff8d2c804b4041d6a9d5255f898b9bdc?v=e8b516f6&t=livehealthyheaderimage" class="card-img-top" id="articleimage3">
                    <div class="card-body d-flex flex-column ">
                        <h5 class="card-title">Building Resilience In Your Child</h5>
                        <p class="card-text">Article by HealthHub</p>
                        <a href="https://www.healthhub.sg/live-healthy/building-resilience-in-your-child" class="btn btn-info">Go To Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="containerforfeaturedbrand"> 
    <div class="row my-5">
    <h2 class="text-center" id="featuredbrands">Featured Brands </h2>
    <p class="text-center" id="featuredbrandsdescription">These featured brands represent the trusted products we carry at our pharmacy.</p>
        <hr class="text-hr" />
    </div>
    <div class="row mt-1">
        <div class="brand-carousel owl-carousel">
            <div class="single-logo">
                <img src="https://i.postimg.cc/QxPJ8hXy/brand-1.png" >
            </div>
            <div class="single-logo">
                <img src="https://i.postimg.cc/pdMQjC5Q/brand-2.png" >
            </div>
            <div class="single-logo">
                <img src="https://i.postimg.cc/B6qxYvgX/brand-3.png" >
            </div>
            <div class="single-logo">
                <img src="https://i.postimg.cc/d14GzKHn/brand-4.png" >
            </div>
            <div class="single-logo">
                <img src="https://i.postimg.cc/x8ZM13Sz/brand-5.png" >
            </div>
            <div class="single-logo">
                <img src="https://i.postimg.cc/B6qxYvgX/brand-3.png" >
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="containerforaward">
    <div class="row my-5">
        <h2 class="text-center" id="awards">Awards</h2>
        <p class="text-center" id="awardsdescription">Awards that earn your trust. </p>
        <hr class="text-hr" />
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card" id="award1card">
                    <img src="https://png.pngtree.com/png-vector/20230225/ourmid/pngtree-best-award-medal-with-rice-or-paddy-symbol-in-gold-and-png-image_6587285.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">Best Online Pharmacy Award 2023</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="award2card">
                    <img src="https://png.pngtree.com/png-clipart/20230512/original/pngtree-premium-quality-product-gold-label-emblem-png-image_9159342.png" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">Best Quality Award 2023</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="award3card">
                    <img src="https://static.wixstatic.com/media/8e67f1_4be463d3ce894d06bfd83795732a72d4~mv2_d_1500_1500_s_2.jpg/v1/fill/w_2500,h_2500,al_c/8e67f1_4be463d3ce894d06bfd83795732a72d4~mv2_d_1500_1500_s_2.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">Customer Choice Award 2023</h5>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















<script>
    $('.brand-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })

</script>