
.carousel-control-next-icon{
  background-color:black;
}
.carousel-control-prev-icon {
    background-color: black;
}
#img1 {
    width: 100%;
    height: 500px;
}
#img2{
    width: 100%;
    height:500px;
}
