#featuredbrands {
    font-weight: 600;
    font-family: "Rubik", serif;
}
#featuredbrandsdescription {
    font-weight: 400;
    font-family: "Rubik", serif;
}

#awards{
font-weight: 600;
font-family: "Rubik", serif;
}

#awardsdescription {
    font-weight: 400;
    font-family: "Rubik", serif;
}

.owimage {
    justify-content: center;
}

#brandpicture1, #brandpicture2, #brandpicture3, #brandpicture4, #brandpicture5, #brandpicture6 {
    width: 215.51px;
    height: 107.75px;
}

.text-hr {
    width: 50%;
    margin: auto;
}

.card-title {
    font-weight: 600;
    font-family: "Rubik", serif;
    text-align: center;
}
.card-text {
    font-weight: 400;
    font-family: "Rubik", serif;
    text-align: center;
}
#award1card, #award2card, #award3card {
    height: 100%;
    border: none;
}

.btn {
    font-weight: 400;
    font-family: "Rubik", serif;
    text-align: center;
}
#articleimage1, #articleimage2, #articleimage3 {
    height: 180px; /* Set your desired height */
    object-fit: cover; /* This ensures the image covers the entire container */
}

#alltext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerdescription{
    font-weight: 600;
    font-family: "Rubik", serif;
    font-size: 20px;
    text-align: center;
}

#header1 {
    font-weight: 900;
    font-family: "Rubik", serif;
    font-size: 50px;
    text-align: center;
}

#header-container {
    background: url('https://cdn.vectorstock.com/i/preview-1x/49/77/pills-background-medical-pharmacy-banner-vector-40044977.jpg') center/cover no-repeat; /* Replace 'your-image-url.jpg' with the URL of your image */
}