@page "/"

<PageTitle>Home Page</PageTitle>
<!--Have the Carousel take up 100% width as Container Fluix maximise the width to 100%-->
<div class="container-fluid" >
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner" id="containerbox1">
            <div class="carousel-item active">
                <img src="/Banner2.png" class="d-block" id="img1" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/20offer-banner.jpg" class="d-block " id="img2" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>