@page "/PrescriptionMedicine"
<PageTitle>Prescription Medicine</PageTitle>

<nav class="navbar navbar-expand-lg bg-white  ">
    <div class="container" aria-label="breadcrumb" id="breadcrumbprescriptionmedicinecontainer">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Prescription Medicine</li>
        </ol>
    </div>
</nav>

<div class="container" >
    <div class="row my-3">
        <h2 class="text-center" id="prescriptionmedicineheader">Prescription Medicine</h2>
        <hr class="text-hr" />
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-4 order-md-first">
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-lg-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col aproduct">
                    <div class="card h-100 productcard">
                        <button type="button" class="btn-close"></button>
                        <img src="https://alcare.sg/wp-content/uploads/2019/08/PANC-1.jpg" class="catproductimage">
                        <div class="card-body productcardbody">
                                <h2 class="productname">Ibuprofen</h2>
                                <h4 class="productprice">$40</h4>
                                <button class="btn btn-primary addtocartbutton" type="button" onclick="AddChangeBadge()">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col aproduct">
                    <div class="card h-100 productcard">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                        <img src="https://alcare.sg/wp-content/uploads/2019/08/PANC-1.jpg" class="catproductimage">
                        <div class="card-body productcardbody">
                            <h2 class="productname">Ibuprofen</h2>
                            <h4 class="productprice">$40</h4>
                            <a href="#" class="btn btn-primary addtocartbutton">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col aproduct">
                    <div class="card h-100 productcard">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                        <img src="https://alcare.sg/wp-content/uploads/2019/08/PANC-1.jpg" class="catproductimage">
                        <div class="card-body productcardbody">
                            <h2 class="productname">Ibuprofen</h2>
                            <h4 class="productprice">$40</h4>
                            <a href="#" class="btn btn-primary addtocartbutton">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col aproduct">
                    <div class="card h-100 productcard">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                        <img src="https://alcare.sg/wp-content/uploads/2019/08/PANC-1.jpg" class="catproductimage">
                        <div class="card-body productcardbody">
                            <h2 class="productname">Ibuprofen</h2>
                            <h4 class="productprice">$40</h4>
                            <a class="btn btn-primary addtocartbutton">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col aproduct">
                    <div class="card h-100 productcard">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                        <img src="https://alcare.sg/wp-content/uploads/2019/08/PANC-1.jpg" class="catproductimage">
                        <div class="card-body productcardbody">
                            <h2 class="productname">Ibuprofen</h2>
                            <h4 class="productprice">$40</h4>
                            <a href="#" class="btn btn-primary addtocartbutton">ADD TO CART</a>
                        </div>
                    </div>
                </div>
 
            </div>

        </div>

    </div>
</div>

@code {
   


}
