@page "/Services"
<PageTitle>Services</PageTitle>

<div class="container-fluid" id="containerforservices">
    <div class="row my-5">
        <h2 class="text-center" id="services">Services</h2>
        <p class="text-center" id="servicesdescription">What do we offer?</p>
        <hr class="text-hr" />
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card" id="service1card">
                    <img src="https://cdn-icons-png.flaticon.com/512/5988/5988061.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Quality Assurance</h5>
                        <p class="card-text">
                            Our curated selection of pediatric medications and wellness products ensures that parents can trust the quality and effectiveness of every item.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="service2card">
                    <img src="https://cdn-icons-png.flaticon.com/512/411/411709.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Fast and Flat Delivery Fees</h5>
                        <p class="card-text">
                            Enjoy the ease of doorstep delivery with our fast and flat delivery fees. 
                            We bring specialized care for your little ones directly to your home, ensuring a convenient and efficient experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="service3card">
                    <img src="https://cdn-icons-png.flaticon.com/512/10685/10685363.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Online Consultation</h5>
                        <p class="card-text">
                            Our online consultations guarantee efficient access to a pharmacist,
                            enabling you to acquire prescribed medications for your children without the need to step outside.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
