<!-- Footer -->
<footer class="text-center" id="footercontainer">
    <!-- Grid container -->
    <div class="container-fluid bg-light " style="max-width:100%">

         <div class="row mt-5 align-content-center" >
            <div class="col">
                <a class="nav-link" href="/AboutUs" id="aboutus">About</a>
            </div>
            <div class="col">
                <a class="nav-link" href="/Services" id="services">Services</a>
            </div>
            <div class="col">
                <a class="nav-link" href="/" id="home">Home</a>
            </div>
        </div>
        <hr class="text-hr" />
        <div class="text-center p-3">
            <p>Copyright © 2023 Farmacy. All rights reserved.</p>
        </div>
    </div>
</footer>
