@inherits LayoutComponentBase

<div class="page">
    <header>
       <NavMenu />
    </header>

    <main>
            @Body



    </main>


    <footer>
        <div class="container-fluid">
            <div class="card-footer">
                <div class="d-flex flex-column">
                    <div class="" d-flex justify-content-center>
                    <a href="/AboutUs">About Us</a>
                    <a href="/ContactUs">Contact Us</a>
                        <a href="/Services">Services</a>
                </div>  
                <div class="text-center">
                    <a>© Copyright Farmacy 2023</a>
                </div>
            </div>

            </div>



        </div>
       
    </footer>
</div>
