.header{
    position:fixed;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

main {
    flex: 1;background-color:white;
   font-family: "Rubik", serif;}

footer {
    margin-top: auto;
}