@inject NavigationManager Navigation
<!--
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlinePharmacy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
-->

<!--Navigation Bar class using Boot Strap-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Logo and Pharmacy Name -->
        <a class="navbar-brand ms-5 align-content-center" href="#">Farmacy</a>

        <!-- Navbar Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse @NavMenuCssClass " id="navbarNav">
            <form class="d-flex mx-auto searchbar" role="search">
                <div class="input-group">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" id="button-addon2" type="submit">Search</button>
                </div>
            </form>

            <ul class="navbar-nav mx-5">            
                <li class="nav-item dropdown">
                    <i class="bi bi-person"></i>
                    <a class="nav-link dropdown-toggle pt-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>                        
                  
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <LoginDisplay />
                    </ul>
                </li>
                <li class="nav-item ">
                    <i class="bi bi-bag-plus"></i>
                    <a class="nav-link pt-0" href="#">Your Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    // Calculate the CSS class based on the collapseNavMenu state
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Toggle the collapseNavMenu state when the navbar toggler button is clicked
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}

