<!--Navigation Bar class using Boot Strap-->
<!--Navigation Bar collapse at large breakpoint-->
<nav class="navbar navbar-expand-lg" id="navbar1">
    <!--Using container fluid to hold the different objects,full width container, spanning the entire width of the viewport-->
    <div class="container-fluid">
        <!-- Logo and Pharmacy Name,Having the marign from start(left) move 5 and the Brand word align center -->
        <a class="navbar-brand ms-5 align-content-center" href="#" id="navigationbarlogo">Farmacy</a>

        <!-- Navbar Toggle Button:
        - Type declared as a button, indicating it's a clickable element
        - Data attributes for Bootstrap, defining behavior when clicked:
            - data-bs-toggle: Specifies the type of Bootstrap component to toggle
            - data-bs-target: Identifies the target element to toggle
            - aria-controls: indicating the controlled elements
            - aria-expanded: indicating the expanded/collapsed state
            - aria-label: providing an accessible description of the button
        - When clicked, it toggles the visibility of the content specified by data-bs-target
        - In this case, it hides/shows the content of the search bar, dropdown items, and list -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!--Icons of the toggler button is a hamburger(3-Bar)-->
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Bar collapse where searchbar, dropdown items, list are at, having a unique id to route to the nav-bar toggler to know what are the content
            Route to a code to have a responsive action of collapsing and not collpasing of item.
        -->
        <div class="collapse navbar-collapse @NavMenuCssClass " id="navbarNav">
            <!--Use Flex container which can be modified using other properties,giving a unique class name searchbar to allow css on this class, and assign the role
                of this class as search
            -->
            <form class="d-flex mx-auto searchbar" role="search">
                <!--Input group which accept input-->
                <div class="input-group">
                    <!--Input field,form-control for styling,move the class marign to the right,type is search,placeholder to prompt user about expected input, 
                    aria-describedby: References an element providing additional information, in this case is the search button-->
                    <input class="form-control me-2" type="search" placeholder="Search" aria-describedby="button-addon2">
                    <!--Button has a css of outline sucess,with a unique id which is being refernce on top,the type is a submit button with the word Search inside button-->
                    <button class="btn btn-outline-dark" id="searchbutton" type="submit">Search</button>
                </div>
            </form>

            <!-- For a full-height and lightweight navigation including support for dropdowns-->
            <ul class="navbar-nav mx-5">
                <!--Have a dropdown for item-->
                <li class="nav-item dropdown">   
                    <!--A navigation link styled as a dropdown toggle
                    - 'nav-link' class applies styling for navigation links with the icon
                    - 'dropdown-toggle' class indicates it will trigger a dropdown menu when pressed (dropdown)
                    - 'href=" " provides a placeholder link to make it clickable
                    - 'id="navbarDropdown"' unique identifier for dropdown functionality 
                    - 'role="button"' a button-like behaviour
                    - 'data-bs-toggle="dropdown"' activates the dropdown when interacted when clicked
                    - 'aria-haspopup="true"' the presence of a dropdown menu
                    - 'aria-expanded="false"'initial state of the dropdown is closed -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--Icon is a profile-->
                        <i class="bi bi-person"></i>My Account
                    </a>
                    <!--Drop down menu,refernce to the above class for the My account dropdown items-->
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <!--Authorized/Not Authorized drop down items-->
                        <LoginDisplay />
                    </ul>
                </li>
                <!-- Navigation Bar item-->
                <li class="nav-item ">
                    <!-- Navigation link,Your Cart and its icon is the text(Link)-->   
                    <a class="nav-link" href="/Cart">
                        <!--Icon for cart(Shopping bag)-->
                        <i class="bi bi-bag-plus"></i>
                        <!--Badge for the number of items in cart-->
                        <span class="badge">0</span>                       
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg" id="navbar2">
   <div class="container-fluid">
        <a href="/PrescriptionMedicine">Prescription Medicines</a>
        <a href="/OverTheCounterMedicines">Over-the-Counter Medicines</a>
        <a href="/Vitamins">Vitamins</a>
        <a href="/HomeCareAndRecoveryAids">Home Care and Recovery Aids</a>




   </div>
</nav>

@code {
    //Navigation menu is collapse
    private bool collapseNavMenu = true;

    // Calculate the CSS class based on the collapseNavMenu state
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Toggle the collapseNavMenu state when the navbar toggler button is clicked
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}