/*
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
*/

/* Navbar styles */

.navbar-brand {
    color: #000 !important; /* Black text color for the brand */
}

.navbar-toggler-icon {
    background-color: #fff; /* White color for the toggler icon */
}

.navbar-nav .nav-link {
    color: #000 !important; /* Black color for navigation links */
}

.navbar-nav .navbar-item:hover {
    color: red !important; 
}

/* Navbar item styles */
.navbar-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav .bi-bag-plus {
    font-size: 2rem; 
}

.navbar-nav .bi-person {
    font-size: 2rem; 
}
.navbar {
    background-color: red;
}
.custom-navbar-collapse {
    background-color: green;
}

@media (min-width:1000px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Styles applied when the viewport width is 641 pixels or more */
    }
}
