/*Overall Navbar style*/
.navbar {
    background-color: lightgreen; /* Set the background color of the navbar to lightgreen */
}
/*Brand name in the navbar */
.navbar-brand {
    color:#FFF !important; /* Set the color of the brand name to white */
    font-weight:900; /* Set the font weight (Boldness) of the brand name */
    font-size:40px; /* Set the font size of the brand name text to 40 pixels */
}

/*Navigation links in the navbar */
.navbar-nav .nav-link {
    color: #000; /* Set the color of the navigation links to black */
}

/* Navbar item styles */
.navbar-nav .nav-item {
    display:flex; /* Use flex display for navbar items (Flex box allow for for quick management of layout alignment etc */
    flex-direction: column; /* Arrange items in a column (Effectively helps to ensure when the hamburger appears item are in a single column*/
    align-items: center; /* Center-align items, icons and the text are just below each other and are centered */
}

/*Profile icon and Bag icon in the navbar styles */
.bi{
    font-size: 3rem; /* Set the font size of the bag icon and person icon to 3rem (48 pixels) */ 
}

/*Custom navbar collapse style*/
.custom-navbar-collapse {
    background-color: lightgreen; /* Set the background color of the custom navbar collapse to lightgreen */
}

/*Media query for screens with a minimum width of 1000px */
@media (min-width:1000px) {
    .navbar-toggler {
        display: none; /* Hide the navbar toggler on screens with a width of 1000px or more */
    }

    .collapse {
    }
}
/*Custom searchbar style*/
.searchbar {
    width: 450px; /* Set the width of the search bar to 450 pixels */
    height: 50px; /* Set the height of the search bar to 50 pixels */
}
