<!--
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlinePharmacy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
-->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!-- Logo and Pharmacy Name -->
        <a class="navbar-brand" href="/1.jpg">Farmacy</a>

        <!-- Navbar Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <i class="bi bi-list"></i>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse @NavMenuCssClass pd-2 t" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <i class="bi bi-bag-plus"></i>
                    <a class="nav-link pt-0" href="#">Your Cart</a>
                </li>
                <li class="nav-item">
                    <i class="bi bi-person"></i>
                    <a class="nav-link pt-0" href="#">My Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    // Calculate the CSS class based on the collapseNavMenu state
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Toggle the collapseNavMenu state when the navbar toggler button is clicked
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

