#dflexdeliver {
    justify-content: center;
}
#deliverstatusheader {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Rubik", serif;
}
#delivertablecolumnname {
    border:2px solid;
}

.dcol{
    text-align:center;
}

.dr {
    text-align: center;
}

.createdeliverybutton {
    width: 25%;
    align-self: end;
}